// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900

.roboto-slab-<uniquifier> {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900

.roboto-serif-<uniquifier> {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "GRAD" 0;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900

.roboto-condensed-<uniquifier> {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.ibm-plex sans condensed-thin {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.ibm-plex sans condensed-thin-italic {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.ibm-plex sans condensed-extralight {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.ibm-plex sans condensed-extralight-italic {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.ibm-plex sans condensed-light {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ibm-plex sans condensed-light-italic {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.ibm-plex sans condensed-regular {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ibm-plex sans condensed-regular-italic {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ibm-plex sans condensed-medium {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ibm-plex sans condensed-medium-italic {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.ibm-plex sans condensed-semibold {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.ibm-plex sans condensed-semibold-italic {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.ibm-plex sans condensed-bold {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ibm-plex sans condensed-bold-italic {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.ibm-plex sans kr-regular {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ibm-plex sans-thin {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.ibm-plex sans-thin-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.ibm-plex sans-extralight {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.ibm-plex sans-extralight-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.ibm-plex sans-light {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ibm-plex sans-light-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.ibm-plex sans-regular {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ibm-plex sans-regular-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ibm-plex sans-medium {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ibm-plex sans-medium-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.ibm-plex sans-semibold {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.ibm-plex sans-semibold-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.ibm-plex sans-bold {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ibm-plex sans-bold-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
}